.workout{
    padding-top: 10%;
}
.aboutImage{
    height: 500px;
    
}
.aboutImage img{
    height: 500px;
    width: 90%;   
}

.about-right h1{
    color: black;
    font-weight: bold;
    font-size: 400%;
    margin-bottom: 10%;
}